.home-section {
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
}

.home-text {
	font-weight: 500;
	font-size: 1rem;
	margin-bottom: 0.8rem;
	color: var(--text-color);
}

.accent {
	color: var(--accent-color);
	font-weight: 700;
	letter-spacing: 1px;
}

.main-title {
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.1;
	margin-bottom: 1.2rem;
	position: relative;
	overflow: hidden;
}

.animated-word {
	display: inline-block;
	color: var(--accent-color);
	animation: slideUpFade 3.5s ease-in-out infinite;
	position: relative;
}

/* RESPONSIVE */
@media (min-width: 481px) {
	.home-section {
		padding: 2rem 3rem;
	}

	.home-text {
		font-size: 1.2rem;
	}

	.main-title {
		font-weight: 900;
		font-size: 3rem;
		line-height: 1.1;
		margin-bottom: 1.2rem;
		position: relative;
		overflow: hidden;
	}
}

@media (min-width: 1024px) {
	.home-section {
		padding: 2rem 6rem;
	}

	.home-text {
		font-size: 1.6rem;
	}

	.main-title {
		font-size: 4rem;
	}
}

@media (min-width: 1440px) {
		.home-section {
		padding: 2rem 8rem;
	}

	.home-text {
		font-size: 2rem;
	}

	.main-title {
		font-size: 6rem;
	}
}
