:root {
	--bg-color: #ffffff;
	--text-color: #333333;
	--accent-color: #ffd723;
	--contrast-color: #bfa321;
	--card-bg: #f9f9f9;
	--input-bg: #ffffff;
	--gray-color: #e0e0e0;
	--darkgray-color: #333;
	--tech-btn: #e5e7eb;
}

:root[data-theme="dark"] {
	--bg-color: #1e1e1e;
	--text-color: #f5f5f5;
	--accent-color: #adff2f;
	--contrast-color: #8bde0e;
	--card-bg: #2c2c2c;
	--input-bg: #333333;
	--gray-color: #f5f5f5;
	--darkgray-color: #ababab;
	--tech-btn: #808080;
}


body {
	font-family: "Poppins", sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

html {
	scroll-behavior: smooth;
}

.app-container {
	margin: 0 auto;
	background: var(--card-bg);
	padding: 20px 8px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: background 0.3s ease;
}

.app-title {
	text-align: center;
	color: var(--text-color);
	font-size: 28px;
}

.section-title {
	text-align: center;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	padding: 0 1rem; 
}

form {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

input {
	flex: 1;
	padding: 0.5rem;
	background-color: var(--input-bg);
	color: var(--text-color);
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

button {
	padding: 0 0.4rem;
	cursor: pointer;
	background-color: var(--button-bg);
	color: var(--button-text);
	border: none;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
}